

/* partie menu*/
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    height: 105px;
    border-bottom: 0.1px solid rgb(149, 143, 143);
}


.menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.836);
    margin-right: ;
    font-weight: bold;
    font-size: 18px;
    
  
  }
  
  .menu li {
margin-top: 45px;
margin-left:; 
margin-right:150px ; 

}

img{
    height: 100%;
 width: 100%;
background-color: black;
}


/* partie bas de page*/

.footer {
    display: flex;
      background-color: rgb(39, 255, 255);
      min-height: 100px;
      width: 100%;
      border-top:  0.1px solid rgb(149, 143, 143);
      position: scroll;
      bottom: 0;
    }
    
    .basDepage {
      display: flex;
      flex-direction: row;
      list-style-type: none;
  
    }
    
    .basDepage a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-weight: 900;
      opacity: 0.6;
    }
  
    .basDepage a:hover{
      opacity: 0.9;
      color:rgb(254, 254, 254)
    }
  
    .segment{
      padding-top: 30px;
      padding-bottom: 30px;
     margin-left: 100px;
    }
  
    h3{
      font-size: 18px;
      font-weight: bold;
    }